.bagels {
  grid-area: bagels;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E6F4E6;
  padding: 20px;
  border: 2px solid black;
  border-radius: 12px;
  box-sizing: border-box;
}

.bagels .section-card {
  width: 100%;
  height: 100%;
  background-color: #E6F4E6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items to the top */
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  gap: 10px; /* Reduced gap for better use of space */
}

.bagels .section-title {
  font-size: clamp(20px, 3vw, 38px);
  font-weight: bold;
  font-family: 'Chicle', sans-serif;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
  text-shadow: -1px -1px 0 #42823d, 1px -1px 0 #42823d, -1px 1px 0 #42823d, 1px 1px 0 #42823d;
}

.bagels .bagels-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Smaller min size for more items in a row */
  row-gap: 30px; /* Increased gap for better vertical spacing */
  justify-items: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  height: 100%; /* Stretch to fill available height */
}

@media (max-width: 768px) {
  .parent-grid {
    grid-template-columns: 1fr; /* Stack items vertically on small screens */
  }
}

.bagels .bagel-item {
  position: relative;
  font-size: clamp(16px, 1vw, 20px);
  font-weight: bold;
  text-align: center;
  color: black;
  font-family: 'Chicle', sans-serif;
  line-height: 1.8; /* Increased line height for vertical stretch */
}

.bagels .bagel-item.out-of-stock {
  color: gray; /* Fade the text */
}

.bagels .bagel-item.out-of-stock .sold-out-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;  /* Set a fixed width */
  height: auto; /* Maintain aspect ratio */
  max-width: 100px; /* Prevent overflow */
  z-index: 1;
  pointer-events: none;
  opacity: 0.8;
}

.bagels-pricing-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px; /* Adjusted to push it down */
}

.bagels-pricing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  background: #E6F4E6;
  padding: 5px;
  border: 1px solid black;
  border-radius: 12px;
  width: 100%; /* Adjust width as needed */
  max-width: 600px; /* Prevent it from stretching too wide */
  text-align: center;
}

.bagel-price-item {
  font-family: 'Chicle', sans-serif;
  font-size: 18px;
  background: #f3f3f3;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}