.coffee-section {
  padding: 20px;
  background-color: #f9f9f9;
  border: 2px solid #006400;
}

.coffee-item {
  margin: 5px 0;
  font-size: 16px;
}

.shirt-item {
  margin: 5px 0;
  font-size: 16px;
}
