.premium {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E6F4E6;
}

.premium .section-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #E6F4E6;
  border: 2px solid black;
  border-radius: 12px;
  padding: 17px; /* Slightly less padding */
  box-sizing: border-box;
}

.premium .section-title {
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #E6F4E6;
  padding: 0 8px;
  font-family: 'Chicle', sans-serif;
  font-weight: bold;
  font-size: 38px; /* Reduced title size */
  white-space: nowrap;
  text-shadow: -1px -1px 0 #42823d, 1px -1px 0 #42823d, -1px 1px 0 #42823d, 1px 1px 0 #42823d;

}

.premium-sandwiches {
  display: flex;
  flex-direction: column;
  gap: 4px; /* Reduce gap between sandwiches */
  width: 100%;
  padding: 5px 0;
}

.sandwich-card {
  background-color: #f9f9f9;
  padding: 13px 12px;
  border: 2px solid black;
  border-radius: 12px;
  text-align: left;
  font-family: 'Chicle', sans-serif;
  width: 100%; /* Changed from 85% to 100% */
  box-sizing: border-box; /* Ensures it respects the section size */
}

.sandwich-card h3 {
  font-size: 20px;
  font-family: 'Chicle', sans-serif;
  margin-bottom: 2px; /* Less gap below title */
}

.sandwich-card p {
  font-size: 15px;
  color: #333;
  margin: 3px 0; /* Reduce space above and below text */
  max-width: 90%;
}

.sandwich-options {
  list-style: none;
  padding: 0;
  margin-top: 2px; /* Bring options closer to description */
}

.sandwich-options li {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 1px 0; /* Tighten spacing between options */
  line-height: 1.1; /* Reduce line-height to remove extra vertical space */
}

.sandwich-options .dots {
  flex: 1;
  border-bottom: 2px dotted black; /* Dotted line */
  margin: 0 10px; /* Spacing between name and price */
}
